@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-gradient: linear-gradient(
    52deg,
    rgb(42, 126, 215) 3%,
    rgb(59, 185, 207) 97%
  );
}

@layer base {
  body {
    @apply bg-slate-100 dark:bg-semi-black text-slate-600 dark:text-slate-200;
  }
}
@layer components {
  .gradient-bg {
    background: var(--bg-gradient);
  }
  .gradient-text {
    @apply text-transparent bg-clip-text gradient-bg;
  }
  .underlined::after {
    content: "";
    height: 2px;
    transform: scaleX(0);
    transition: transform 0.25s ease;
    transform-origin: left;
    left: 0;
    width: 100%;
    display: block;
    position: absolute;
  }

  .underlined-bg:hover::after,
  .underlined-bg:focus::after,
  .active.underlined-bg::after {
    @apply gradient-bg;
    transform: scaleX(1);
  }
  .underlined {
    @apply underlined-bg;
  }
}
